<div class="ui-view">
  <div class="login-page">
    <div class="img-container">
      <div class="text-center float-end photo">
        <img src="../../../assets/images/flat-avatar.png" class="user-avatar img-circle img-responsive" />
          <h1>meraTalent<br /><small>Find talents around the world<br/> at one place</small></h1>
        </div>
      </div>
      
      <div class="form-content">

        <form role="form" class="bottom-75" ng-submit="submit()">
        <div class="table-form">
          <div class="form-groups">
            <h3>Thank You for Registering</h3>
            <div class="form-group" *ngIf="authService.userData as user">
              <p class="text-center">We have sent a confirmation email to <strong>{{user.email}}</strong>.</p>
              <p class="text-center">Please check your email and click on the link to verfiy your email address.</p>
            </div>
            <div class="form-group">
              <span class="text-orange" (click)="authService.SendVerificationMail()">
                Resend Verification Email?
              </span>
            </div>
          </div>	
        </div>
        <div class="remember">
          <div class="redirectToLogin">
            <span>Go back to?<span class="redirect" routerLink="/sign-in"> Sign in</span></span>
          </div>
        </div>			
        </form>
      </div>			
    </div>
</div>
