<div class="ui-view">
  <div class="login-page">
    <div class="img-container">
      <div class="text-center float-end photo">
        <img src="../../../assets/images/flat-avatar.png" class="user-avatar img-circle img-responsive" />
          <h1>meraTalent<br /><small>Find talents around the world<br/> at one place</small></h1>
        </div>
      </div>
      
      <div class="form-content">

        <form role="form" class="bottom-75" ng-submit="submit()">
        <div class="table-form">
          <div class="form-groups">
            <div class="form-group">
              <input type="email" class="form-control input-lg" placeholder="Please enter registered email" #passwordResetEmail required />
            </div>              
          </div>	
          <div class="button-container">
            <button type="button" class="btn btn-default login" (click)="authService.ForgotPassword(passwordResetEmail.value)"><img src="../../../assets/images/arrow.png" alt=""></button>
          </div>
        </div>
        <div class="remember">
          <span class="pass mt-2 pointer">Go back to ? <span class="redirect" routerLink="/sign-in">Log In</span></span>
        </div>			
        </form>
      </div>			
    </div>
</div>